aaediclock_config.json
aaediclock_config.json.old
Astronomical Algorithms- Jean Meeus (1991).pdf
build/
clock
clockss_ticker.jpg
external/
*~
*.wspr
*.log
libxml2/
notes.txt
pidebug/
out/
images/screenshot.jpg